@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 100vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 100vh;
    color: #1b1b1b;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    border: 3px solid #020202;
    -webkit-text-stroke: 0.5px aliceblue ;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 767px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
}